cat <<END
<div class='view'>
    <a href="${render_page_num_html}-${render_preview_num_html}.html">
        <img class='view ${render_animation_class_html}' border='0' src='${render_backhref_html}/${render_photos_dir_html}/${render_photo_html}' />
    </a>
    <div class="details-panel">
        <h1>Details</h1>
        ${render_exif_details_html}
    </div>
    <div class="navigator">
        <a href="${render_page_num_html}-${render_view_prev_html}.html" class="arrow">&lArr;</a>
        <a href="${render_page_num_html}-${render_preview_num_html}.html">Image view</a> |
        <a href ='${render_backhref_html}/${render_photos_dir_html}/${render_photo_html}'>Direct link</a>
        <a href="${render_page_num_html}-${render_view_next_html}.html" class="arrow">&rArr;</a>
    </div>
</div>
END
