if [ -n "$render_exif_tooltip_html" ]; then
    render_exif_tooltip_attr=" title=\"$render_exif_tooltip_html\""
else
    render_exif_tooltip_attr=''
fi

cat <<END
<div class='view'>
    <div class="details-layout">
        <div class="details-photo-column">
            <a class="details-photo-link" href="${render_page_num_html}-${render_preview_num_html}.html">
                <img class='view details-photo ${render_animation_class_html}' border='0' src='${render_backhref_html}/${render_photos_dir_html}/${render_photo_html}'${render_exif_tooltip_attr} />
            </a>
            <div class="navigator details-navigator">
                <a href="${render_page_num_html}-${render_view_prev_html}.html" class="arrow">&lArr;</a>
                <a href="${render_page_num_html}-${render_preview_num_html}.html">Image view</a> |
                <a href ='${render_backhref_html}/${render_photos_dir_html}/${render_photo_html}'>Direct link</a>
                <a href="${render_page_num_html}-${render_view_next_html}.html" class="arrow">&rArr;</a>
            </div>
        </div>
        <div class="details-panel">
            <h1>Details</h1>
            ${render_exif_details_html}
        </div>
    </div>
</div>
END
