cat <<END
</p>
<hr />
END

if [ "${TARBALL_INCLUDE}" = 'yes' ]; then
cat <<END
Download all photos in original size <a href='${backhref}/${tarball_name}'>here</a><br /><br />
END
fi

cat <<END
Page generated at $(date) using Bash and ImageMagick at $(uname); &lt;photoalbum@dev.buetow.org&gt;
</body>
</html>
END
