cat <<END
</div>
END

cat <<END
<div class="footer">
END

if [ "${TARBALL_INCLUDE}" = 'yes' ]; then
cat <<END
  Download all photos in original size <a href='${backhref}/${tarball_name}'>here</a><br /><br />
END
fi

cat <<END
  Page generated at $(date) using Bash and ImageMagick at $(uname); &lt;photoalbum@dev.buetow.org&gt;
</div>

</body>
</html>
END
