cat <<END
<html>
<head>
    <title>${TITLE}</title>
    <style type="text/css">
        body {
            background-color: #000000;
            color: #ffffff;
            background-image: url('${backhref}/${blurs_dir}/${background_image}');
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            font-family: verdana, sans-serif;
        }

        a {
            color: #ffffff;
        }

        a.arrow {
            text-decoration: none;
            font-weight: bolder;
        }

        div.header {
            background-color: #000000;
            border: 3px solid #ffffff;
            padding: 3px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        div.footer, div.navigator {
            background-color: #000000;
            border: 3px solid #ffffff;
            padding: 3px;
            max-width: 400px;
            margin: 2 auto;
        }

        img {
            padding: 5px;
        }

        img.thumb { 
            height: ${THUMBHEIGHT}px;
            width: ${THUMBHEIGHT}px;
            object-fit: cover;
        }

        img.thumb:hover {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            object-fit: contain;
        }

        img.view { 
            max-height: ${HEIGHT}px;
            width: 95%;
            height: 80%;
            object-fit: contain;
        }

        .animate-none{}
        .animate-fading {animation:fading 10s}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

        .animate-opacity-slow {animation:opac 2.0s}@keyframes opac{from{opacity:0} to{opacity:1}}
        .animate-top-slow {position:relative;animation:animatetop 2.0s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
        .animate-left-slow {position:relative;animation:animateleft 2.0s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
        .animate-right-slow {position:relative;animation:animateright 2.0s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
        .animate-bottom-slow {position:relative;animation:animatebottom 2.0s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
        .animate-zoom-slow {animation:animatezoom 2.0s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

        .animate-opacity-fast {animation:opac 0.5s}@keyframes opac{from{opacity:0} to{opacity:1}}
        .animate-top-fast {position:relative;animation:animatetop 0.5s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
        .animate-left-fast {position:relative;animation:animateleft 0.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
        .animate-right-fast {position:relative;animation:animateright 0.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
        .animate-bottom-fast {position:relative;animation:animatebottom 0.5s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
        .animate-zoom-fast {animation:animatezoom 0.5s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
    </style>
</head>

<body>
END

if [ "${show_header_bar}" = 'yes' ]; then
cat <<END
<div class="header animate-opacity">
    Site generated at $(date) with <a href="https://codeberg.org/foozone/photoalbum">codeberg.org/foozone/photoalbum</a>
    -
    &copy; by Paul Buetow
</div>
END
fi
