if [ "${is_subalbum}" = yes ]; then
  GOTO_OVERVIEW="<a href='${backhref}/index.html'>Go to Album overview</a>"
fi

cat <<END
<html>
<head>
    <title>${TITLE}</title>
    <style type="text/css">
        body {
            background-color: #000000;
            color: #FFFFFF;
            font-family: verdana, sans-serif;
            width: 100%;
        }
        a {
            color: #FFFFFF;
        }
    </style>
</head>

<body>
  <h1>${TITLE}</h1>
  <p>${GOTO_OVERVIEW}</p>
  <div>
END
