cat <<END
<a name='${photo_html}' href='${backhref_html}/${html_dir_html}/${num}-${i}.html'>
  <img class='thumb ${animation_class_html}' src='${backhref_html}/${thumbs_dir_html}/${photo_html}' />
</a>
END
