cat <<END
<a id='${render_photo_html}' href='${render_page_num_html}-${render_preview_num_html}.html'>
  <img class='thumb ${render_animation_class_html}' alt='${render_photo_html}' src='${render_backhref_html}/${render_thumbs_dir_html}/${render_photo_html}'>
</a>
END
