cat <<END
<a name='${render_photo_html}' href='${render_backhref_html}/${render_html_dir_html}/${render_page_num_html}-${render_preview_num_html}.html'>
  <img class='thumb ${render_animation_class_html}' src='${render_backhref_html}/${render_thumbs_dir_html}/${render_photo_html}' />
</a>
END
