cat <<END
<div class='view'>
    <a href="${num}-$((i+1)).html">
        <img class='view ${animation_class}' border='0' src='${backhref}/${photos_dir}/${photo}' />
    </a>
    <div class="navigator">
        <a href="${num}-$((i-1)).html" class="arrow">&lArr;</a>
        <a href="page-${num}.html#$photo">Thumbnails</a> |
        <a href ='${backhref}/${photos_dir}/${photo}'>Direct link</a>
        <a href="${num}-$((i+1)).html" class="arrow">&rArr;</a>
    </div>
</div>
END

if [ "${ORIGINAL_BASEPATH}x" != x ]; then
    cat <<END
<p>
    <a href="${ORIGINAL_BASEPATH}/${photo}">Original</a>
</p>
END
fi
