cat <<END
<div class="text">
    <a href="${num}-$((i-1)).html">&lArr;</a>
    <a href="page-${num}.html#$photo">Thumbnails</a>
    <a href="${num}-$((i+1)).html">&rArr;</a>
</div>

<div class='view'>
    <a href="${num}-$((i+1)).html">
        <img class='view ${animation_class}' border='0' src='${backhref}/${photos_dir}/${photo}' />
    </a>
</div>
END

if [ "${ORIGINAL_BASEPATH}x" != x ]; then
    cat <<END
<p>
    <a href="${ORIGINAL_BASEPATH}/${photo}">Original</a>
</p>
END
fi
