cat <<END
<p>
    <a href="${num}-$((i-1)).html">&lt;&lt;&lt;</a>
    <a href="page-${num}.html#$photo">Thumbnails</a>
    <a href="${num}-$((i+1)).html">&gt;&gt;&gt;</a>
</p>

<a href="${num}-$((i+1)).html">
    <img border='0' src='${backhref}/${photos_dir}/${photo}' />
</a>

<p>
    <a href="${backhref}/${photos_dir}/${photo}">Direct link</a>
</p>
END

if [ "${ORIGINAL_BASEPATH}x" != x ]; then
    cat <<END
<p>
    <a href="${ORIGINAL_BASEPATH}/${photo}">Original</a>
</p>
END
fi
